.component__range-slider {


    .input-range__slider {
        appearance: none;
        cursor: pointer;
        display: block;
        
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        outline: none;
        // transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    }
    
    
    .input-range__slider:active {
        border-color: green;
    }
    
    .input-range__slider:focus {
        box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); 
    }
    
    .input-range--disabled .input-range__slider {
        border: 1px solid red;
        box-shadow: none;
        transform: none; 
    }
    
    .input-range__slider-container {
        border: 1px solid #ddd;
        background: #fff;
        padding: 5px 12px;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        z-index: 1;
    }
    
    .input-range__label {
        transform: translateZ(0);
        white-space: nowrap; 
    }
    
    .input-range__label--min,
    .input-range__label--max {
        bottom: -1.4rem;
        position: absolute; 
    }
    
    .input-range__label--min {
        left: 0; 
        display: none;    
    }
    
    .input-range__label--max {
        right: 0; 
        display: none;
    }
    
    .input-range__label--value {
    
    }
    
    .input-range__label-container {
    
    }
    
    
    .input-range__label--max .input-range__label-container {
        left: 50%; 
    }
    
    .input-range__track {
        background: #eee;
        cursor: pointer;
        display: block;
        height: 0.3rem;
        position: relative;
    }
    .input-range--disabled .input-range__track {
        background: #eee; 
    }
    
    .input-range__track--background {
        left: 0;
        margin-top: -0.15rem;
        position: absolute;
        right: 0;
        top: 50%; 
    
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 100%;
            top: 0;
            width: 999px;
            background: #eee;
            height: 0.3rem;
        }
    }
    
    .input-range__track--active {
        background: #ccc; 
        
        &::before {
            content: '';
            display: block;
            position: absolute;
            right: 100%;
            width: 999px;
            background: #ccc;
            height: 0.3rem;
        }
    }
    
    .input-range {
        height: 60px;
        position: relative;
        width: 100%; 
    }

}